{% extends "base.html" %}
{% block title %}Записи пользователя {{ user_posts.get_full_name }}{% endblock %}
{% block header %}Записи пользователя {{ user_posts.get_full_name }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include 'includes/author_info.html' %}
            <div class="col-md-9">
                {% for post in page %}
                    <div class="card mb-3 mt-1 shadow-sm">
                        {% include 'includes/post_info.html' %}
                    </div>
                {% empty %}
                    У пользователя {{ user_posts.get_full_name }} нет записей
                {% endfor %}
                {% include 'includes/paginator.html' with item=page paginator=paginator %}
            </div>
        </div>
    </main>
{% endblock %}
