<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}

    	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "about/css/login_style.css" %}">
	<script src="{% static "about/js/jquery-1.10.1.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "about/css/normalize.min.css" %}">
	<script src="{% static "about/js/easeljs-0.7.1.min.js" %}"></script>
	<script src="{% static "about/js/TweenMax.min.js" %}"></script>



  <main role="main" class="container">
      	<canvas id="projector"></canvas>
    <script  src="{% static "about/js/login_bg_script.js" %}"></script>
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Полезный короткий текст
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p>Текст страницы "Об авторе"</p>
                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}